
.top-section{
    background-color:#F0FFF0 ;
    margin-bottom: 50px;
}

.container{
    margin-bottom:100px;
    
}

.navbar {
    background-color:#F0FFF0 ;
    margin-bottom: 30px;
   
}

.nav-link{
    margin-left: 30px;
    font-weight: 600;
    color: black !important ;
}
.nav-link:hover {
    padding-left: 24px;
    padding-right: 24px;
    background-color:#21B573;
    color: white !important ;
    border-radius: 15px;
}

.icon-img{
    height: 55px;
    width: 173px;
}


.get-started-btn{
    padding: 10px;
    border-radius: 20px;
    background-color:#21B573;
    color: white ;
    
    
}
.get-started-btn:hover{
    background-color:#13c474;
}
